.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
  text-transform: lowercase;
}

.main > div {
  max-width: 640px;
}

.pageTitle {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: normal;
}

.pageSubtitle {
  font-size: 1.2rem;
  font-weight: normal;
}

.postTitle {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.postBody {
  margin-top: 70px;
  margin-bottom: 70px;
}

.postTags {
  list-style: none;
  display: flex;
  margin-bottom: 20px;
}

.postTags > li {
  font-size: 1rem;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  background: #2b801f;;
}
