.main {
  padding: 1rem;
  min-height: 100vh;
  text-transform: lowercase;
  max-width: 640px;
  margin: 0 auto;
}

.pageTitle {
  font-size: 2rem;
  margin: 20px 0;
  font-weight: normal;
}

.pageSubtitle {
  font-size: 1.2rem;
  margin-bottom: 70px;
  font-weight: normal;
}

.postTitle {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.postBody {
  margin-bottom: 70px;
}

.postTags {
  list-style: none;
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.postTags > li {
  font-size: 1rem;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #2b801f;;
}
